.page{
    width: auto;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.separation{
    background-color: white;
    width: 280px;
    height: 3px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5%;
}

.texte{
    margin-left: 4px;
}

.photo_cv{
    float: right;
    margin-right: 5px;
    margin-top: 50px;
}

.infogeneral{
    
    float: left;
    border-color: black;
    border-width: 2px;
    border-radius: 2px;
    color: white;
    background-color: teal;
    font-size: small;
    height: 1000px;
    width: 300px;
    margin-right: 10px;
}

.infoautre{
    margin-left: 200px;
}

.texteexplicatif{
    margin-left: 180px;
}

.date{
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}

.titre_formation{
    font-size: 18px;
    font-weight: bold;
}

.titre1{
    text-align: center;
}

.titre2{
    font-size: 21px;
}

.titre3{
    text-align: center;
    font-size: 18px;
}

.form1{
    color: teal;
}

.form2{
    margin-top: 10px;
    margin-bottom: 10px;
}

li{
    font-size: 13px;
}

footer{
    background-color: teal;
    height: 120px;
    width: auto;
}

nav ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    background-color: teal;
}

nav li{
    display: inline-block;
    width: 328px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid white;
    text-align: center;
    line-height: 2.0em;
    font-size: 1.0em;
}
/*
nav li :hover{
    background-color: whitesmoke;
}*/


nav li a{
    display: block;
    color: white;
}
/*
nav li a :hover{
    color: teal;
}*/

.animation1 {
    animation-name: slidein;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

div #carrousel{
    width: 80%;
    over
}

div #carrousel figure{
    position: relative;
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
}